apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "monitoring.fullLabels" "grafana" | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.{{ .Values.namespace }}.svc.cluster.local:9090
        isDefault: true
        editable: false
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.loki.service.port }}
        editable: false
        jsonData:
          derivedFields:
            - datasourceUid: tempo
              matcherRegex: '"traceID":"(\w+)"'
              name: TraceID
              url: "$${__value.raw}"
      - name: Tempo
        type: tempo
        access: proxy
        uid: tempo
        url: http://tempo.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.tempo.service.httpPort }}
        editable: false
        jsonData:
          tracesToLogs:
            datasourceUid: loki
            tags: [job, instance]
            mappedTags: [{key: service.name, value: service}]
            mapTagNamesEnabled: true
            filterByTraceID: true
          serviceMap:
            datasourceUid: prometheus
          nodeGraph:
            enabled: true
