{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: monitoring-allow-internal
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "monitoring.labels" . | nindent 4 }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector: {}
    - from:
        - namespaceSelector: {}
      ports:
        - port: 9100
          protocol: TCP
    - from:
        - namespaceSelector: {}
      ports:
        - port: 3100
          protocol: TCP
        - port: 4317
          protocol: TCP
        - port: 4318
          protocol: TCP
{{- end }}
