apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "monitoring.fullLabels" "promtail" | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "monitoring.selectorLabels" "promtail" | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "monitoring.fullLabels" "promtail" | nindent 8 }}
    spec:
      serviceAccountName: prometheus
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      containers:
        - name: promtail
          image: {{ .Values.promtail.image }}
          args: ["-config.file=/etc/promtail/promtail.yaml"]
          volumeMounts:
            - name: config
              mountPath: /etc/promtail
            - name: pods-logs
              mountPath: /var/log/pods
              readOnly: true
            - name: journal
              mountPath: /var/log/journal
              readOnly: true
            - name: machine-id
              mountPath: /etc/machine-id
              readOnly: true
          resources:
            {{- toYaml .Values.promtail.resources | nindent 12 }}
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
      volumes:
        - name: config
          configMap:
            name: promtail-config
        - name: pods-logs
          hostPath:
            path: /var/log/pods
        - name: journal
          hostPath:
            path: /var/log/journal
        - name: machine-id
          hostPath:
            path: /etc/machine-id
