# @format
# kube-state-metrics Service
apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  annotations:
    kubernetes.io/description: "Exposes kube-state-metrics on port 8080 and telemetry on 8081"
  namespace: monitoring
  labels:
    app: kube-state-metrics
    app.kubernetes.io/part-of: monitoring
spec:
  type: ClusterIP
  selector:
    app: kube-state-metrics
  ports:
    - name: http-metrics
      port: 8080
      targetPort: http-metrics
    - name: telemetry
      port: 8081
      targetPort: telemetry
