# @format
# ArgoCD System Kustomization
#
# Installs ArgoCD core + Application CRDs + Traefik ingress.
# The install.yaml is the official ArgoCD manifest for non-HA single-node.
#
# Bootstrap:
#   kubectl apply -k k8s/system/argocd/
#
# Note: install.yaml downloaded from:
#   https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  # ArgoCD core installation (non-HA, single node)
  - install.yaml
  - ingress.yaml
  - applications/nextjs.yaml
  - applications/monitoring.yaml
