# @format
# ArgoCD System Kustomization
#
# Installs ArgoCD core + Application CRDs + Traefik ingress.
# The install.yaml is the official ArgoCD manifest for non-HA single-node.
#
# Bootstrap:
#   kubectl apply -k k8s/system/argocd/
#
# Note: install.yaml should be downloaded from:
#   https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
# and committed to this directory for GitOps reproducibility.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  # ArgoCD core installation (download and commit this file)
  # - install.yaml
  - ingress.yaml
  - applications/nextjs.yaml
  - applications/monitoring.yaml
