apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "monitoring.fullLabels" "prometheus" | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
spec:
  type: ClusterIP
  selector:
    {{- include "monitoring.selectorLabels" "prometheus" | nindent 4 }}
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      protocol: TCP
