apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "monitoring.fullLabels" "tempo" | nindent 4 }}
data:
  tempo.yaml: |
    server:
      http_listen_port: {{ .Values.tempo.service.httpPort }}
    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: "0.0.0.0:{{ .Values.tempo.service.otlpGrpcPort }}"
            http:
              endpoint: "0.0.0.0:{{ .Values.tempo.service.otlpHttpPort }}"
    ingester:
      trace_idle_period: 30s
      max_block_bytes: 1073741824
      max_block_duration: 5m
    compactor:
      compaction:
        block_retention: 72h
    storage:
      trace:
        backend: local
        local:
          path: /var/tempo/traces
        wal:
          path: /var/tempo/wal
    metrics_generator:
      registry:
        external_labels:
          source: tempo
      storage:
        path: /var/tempo/generator/wal
        remote_write:
          - url: http://prometheus.{{ .Values.namespace }}.svc.cluster.local:9090/api/v1/write
