# @format
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
  annotations:
    kubernetes.io/description: "Persistent storage for Grafana dashboards and settings"
  namespace: monitoring
  labels:
    app: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: dashboard
    app.kubernetes.io/part-of: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
