# @format
apiVersion: v1
kind: Service
metadata:
  name: grafana
  annotations:
    kubernetes.io/description: "Exposes Grafana UI on port 3000"
  namespace: monitoring
  labels:
    app: grafana
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: http
